{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small><a href="{{ "blog" | relURL }}">Remove filter</a></small>
  {{ end }}
  
  {{ $paginator := .Paginate .Pages }}
  <ul class="blog-posts">
    {{ range $paginator.Pages }}
      <li>
        <span><i><time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}</time></i></span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ else }}
      <li>No posts yet</li>
    {{ end }}
  </ul>

  {{ if gt $paginator.TotalPages 1 }}
  <div style="margin-top: 2rem; margin-bottom: 1rem; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 15px; font-weight: bold; font-family: monospace; font-size: 1.2em;">
    {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">«</a>{{ end }}
    {{ range $paginator.Pagers }}
      {{ if eq . $paginator }}
        <span style="text-decoration: underline;">{{ .PageNumber }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
    {{ end }}
    {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">»</a>{{ end }}
  </div>
  {{ end }}

  {{ if not .Data.Singular }}
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}
