{{ define "main" }}
<content>
  {{ .Content }}
  
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
  <ul class="blog-posts">
    {{ range $paginator.Pages }}
      <li>
        <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}'>
              {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
            </time>
          </i>
        </span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

  <!-- 分页按钮 -->
  <div style="margin-top: 2rem; margin-bottom: 2rem; display: flex; justify-content: space-between; font-weight: bold;">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}">« 上一页</a>
    {{ else }}
      <span></span>
    {{ end }}
    
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}">下一页 »</a>
    {{ else }}
      <span></span>
    {{ end }}
  </div>

  <!-- 补回的标签云代码 -->
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }}
    </div>
  </small>

</content>
{{ end }}
